@mixin transition ($seconds) {
   -webkit-transition: opacity $seconds linear, -webkit-transform $seconds ease-in-out, box-shadow $seconds ease-in-out;
   -moz-transition: opacity $seconds linear, -moz-transform $seconds ease-in-out, box-shadow $seconds ease-in-out;
   -o-transition: opacity $seconds linear, -o-transform $seconds ease-in-out, box-shadow $seconds ease-in-out;
   -ms-transition: opacity $seconds linear, -ms-transform $seconds ease-in-out, box-shadow $seconds ease-in-out;
   transition: opacity $seconds linear, transform $seconds ease-in-out, box-shadow $seconds ease-in-out;
}


  section {
    display: block;
    background: #fff;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    box-shadow: px 0px 0px 10px rgba(255,255,255,1), 1px 1px 3px 10px rgba(0,0,0,0.2);
    @include transition(0.4s);

    .line {
      -webkit-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
	    -moz-transition: opacity 0.2s linear, text-shadow 0.5s
      ease-in-out, color 0.5s ease-in-out;
      -o-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
      -ms-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
      transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    .blur {
      box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
	    -webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -o-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	    opacity: 0.7;

      span {
        text-shadow: 0px 0px 10px rgba(255, 210, 82, 0.9);
	      color: rgba(255, 210, 82, 0.25);
	      opacity: 0.5;
      }
    }

    .active {
      -webkit-transform: scale(1.05);
	    -moz-transform: scale(1.05);
	    -o-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	    transform: scale(1.05);
	    box-shadow: 0px 0px 0px 10px rgba(255,255,255,1), 1px 11px 15px 10px rgba(0, 0, 0, 0.4);
	    z-index: 100;	
	    opacity: 1;
    }
  }

  h3 a {
    color: #000;
	  color: rgba(0, 0, 0, 1);
	  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	  opacity: 0.8;
  }

  section.active {
    span {
       opacity: 1;
    }
  }
