/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";

@import "base";



@import url(http://fonts.googleapis.com/css?family=Prata|Adamina);

#container {

  @include container;

  .opening {

    margin-bottom: 2em;

    line-height: 2em;
    font-family: 'Adamina', serif;
    clear: both;
    border-bottom: 1px solid #ccc;

    h1 {
      padding-top: 7em;
      padding-bottom: 2em;
    }

    .verso { @include span-columns(6, 12); }
    .recto { @include span-columns(6 omega, 12); }

    .ti-1 { margin-left: 2em; }
    .ti-2 { margin-left: 4em; }
    .ti-3 { margin-left: 6em; }
    .ti-4 { margin-left: 8em; }

    .linegroup { padding-bottom: 2em; }

    .center { text-align: center; }
    .sc { font-variant: small-caps }
    .justify { text-align: justify; text-justify: inter-word; }
    .i { font-style: italic }
    
  }
}


